*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body.light{
    background: #ecf0f3;
}

body.dark{
    background: #222;
}

.container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container .card{
    width: 345px;
    margin: 20px;
    padding: 40px 30px;
    border-radius: 10px;
}

body.light .container .card{
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}

body.dark .container .card{
    background: #222;
    box-shadow: -3px -3px 7px rgba(0,0,0,.5), 3px 3px 5px rgba(255, 255, 255, .07);
}


.container .card .img-box{
    position: relative;
    text-align: center;
}

.container .card .content-box{
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.container .card .content-box .title{
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0 5px 0;
    letter-spacing: 2px;
}

body.light .container .card .content-box .title{
    color: #31344b;
}

body.dark .container .card .content-box .title{
    color: #ceced1;
}

.content-box .info{
    font-size: 16px;
    padding: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body.light .content-box .info{
    color: #44476a;
}

body.dark .content-box .info{
    color: #44476a;
}

.content-box .info .line{
    text-align: left;
    display: flex;
    margin-bottom: 5px;
    width: 100%;
}

.content-box .info .subline{
    font-size: 14px;
}

.content-box .info .details{
    margin-bottom:5px;
}

.content-box .info .line .field{
    width: 115px;
}

.content-box .info .line .field li{
    text-align: center;
}


.content-box .info .line .separator{
    width: 10px;
}

.content-box .info .line .value{
    margin-left: 10px;
    width: 170px;
}

body.light .content-box .info .line .value{
    color: #31344b;
}

body.dark .content-box .info .line .value{
    color: #ecf0f3;
}


body.light .content-box .info{
    color: #31344b;
}


body.dark .content-box .info{
    color: #ceced1;
}

body .nav{
    margin-top:10px;
    width: 100%;
    margin-bottom: 10px;
}

body .nav .icon{
    margin-left: 20px;
    text-align: center;
    padding: 12px 0;
    height: 50px;
    width: 50px;
    opacity: 0.7;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

body.light .nav .icon{
    background: #ecf0f3;    
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}

body.dark .nav .icon{
    background: #222;    
    box-shadow: -3px -3px 7px rgba(0,0,0,.5), 3px 3px 5px rgba(255, 255, 255, .07);
}


body .icon:hover::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border-radius: 5px;
    z-index: -1;
}

body.light .icon:hover::before{
    background: #ecf0f3;
    box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}

body.dark .icon:hover::before{
    background: #222;
    box-shadow: inset -3px -3px 7px rgba(0,0,0,.5), inset 3px 3px 5px rgba(255, 255, 255, .07);
}



body .mode-toggle{
    border-radius:5px;
    display: flex;
    align-items: center;
    padding: 10px;
}

body input[type="checkbox"]{
    position: absolute;
    -webkit-appearance: none;
    height:20px;
    width:50px;
    outline: none;
    cursor: pointer;
}

body.light input[type="checkbox"]{
    box-shadow: -7px -7px 15px rgba(255,255,255,0.65), 
                7px 7px 15px rgba(70, 70, 70, 0.12),
                inset -7px -7px 15px rgba(255,255,255,0.65), 
                inset 7px 7px 15px rgba(70, 70, 70, 0.12);
    border-radius: 40px;
    border: 5px solid #222;
}

body.dark input[type="checkbox"]{
    box-shadow:-3px -3px 7px rgba(0,0,0,.5), 3px 3px 5px rgba(255,255,255,.07);
    border-radius: 40px;
    border: 5px solid #ceced1;
}

body input[type="checkbox"]:before,
body input[type="checkbox"]:after{
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    transition: 0.3s;
}

body input[type="checkbox"]:before{
    height:10px;
    width: 10px;
    border-radius: 50%;
    left: 5px;
    top: 1px;
    bottom: 1px;
}

body.light input[type="checkbox"]:before{
    background-color:#222;
    box-shadow:-7px -7px 15px rgba(255,255,255,0.65), 7px 7px 15px rgba(70,70,70,0.12);
}

body.dark input[type="checkbox"]:before{
    background-color:#ececec;
    box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}

body input[type="checkbox"]:after{
    height: 8px;
    width: 8px;
    background-color: #7a7a7a;
    border-radius: 50%;
    right: -20px;
}

body input[type="checkbox"]:checked:before{
    left: 25px;
}

body input[type="checkbox"]:checked:after{
    background-color: #55f696;
}

body .nav{
    display: flex;
    margin: auto;
    width: 100%;
}

body .nav .mode-toggle{
    width: 90%;
    justify-content: right;
}